.header{
    background-color: rgba(17, 16, 17, 0.849);
    padding: 1px;
    text-align: center;
    margin-bottom: 5px;
}
.title{
    color: rgba(255, 7, 7, 0.733);   
}
h1{
    color: blanchedalmond;
}
.second-title{
    color: rgb(243, 218, 75);
}